{
    "web": {
        "issuer": "http://localhost:8081/auth/realms/flask-demo",
        "auth_uri": "http://localhost:8081/auth/realms/flask-demo/protocol/openid-connect/auth",
        "client_id": "flask-app",
        "client_secret": "f1dff2d6-1d52-4e97-a023-c4006255691c",
        "redirect_uris": [
            "http://localhost:5000/*"
        ],
        "userinfo_uri": "http://localhost:8081/auth/realms/flask-demo/protocol/openid-connect/userinfo", 
        "token_uri": "http://localhost:8081/auth/realms/flask-demo/protocol/openid-connect/token",
        "token_introspection_uri": "http://localhost:8081/auth/realms/flask-demo/protocol/openid-connect/token/introspect"
    }
}